@page "/"
<h4>This is the startup page.</h4>
<br />
<p>
    Hello, welcome to the Medical Tracker.
    Helps you and your loved ones keep up with medicines, appointments, allegies, etc...
</p>

@*//TODO list:
        //functinality to add appointment
        //alert on upcoming routine
        //alert/Get the next daily medicines*@
@*<EditForm Model="Data.CurrentPatient.GeneralInfo">*@
@*<DataAnnotationsValidator></DataAnnotationsValidator>*@

<AutoComplete></AutoComplete>

<div style="padding:10px">
    <ListOfSavedPatients></ListOfSavedPatients>
</div>
<button @onclick="CreatePatient">Create Patient</button>
@if (CreatingANewPatient)
{
    <div style="padding:10px">
        <GetGeneralInfo @bind-GeneralInfo="Data.GetCopyCurrentPatient().GeneralInfo"></GetGeneralInfo>
    </div>
    <div style="padding:10px">

        <GetContactInfo @bind-Contact="Data.GetCopyCurrentPatient().ContactInfoOfPatient"></GetContactInfo>
    </div>
    <div style="padding:10px">
        <GetDailyMedicines></GetDailyMedicines>
    </div>
    <div style="padding:10px">
        <GetAllergy></GetAllergy>
    </div>
                //future components
    <br />
    <br />
    <button @onclick="Data.SubmitAndSerializePatient" type="submit"> Save Patient</button>
    CreatingANewPatient = false;
}
@*TODO: make it to where the user can erase and edit Patients in the list. Add dates when the patients were added?*@
@*</EditForm>*@
@code {
    public bool CreatingANewPatient = false;

    /// <summary>
    /// When it gets called, it changes CreatingANewPatient to true.
    /// </summary>
    public void CreatePatient()
    {
        CreatingANewPatient = true;
    }
}
