@using MedicalTracker;

<div class="card">
    <div class="card-header">
        Add an Appointment
    </div>
    <div class="card-body">
       @* <EditForm Model="@Appointment" OnInvalidSubmit="@HandleValidSubmit">

        </EditForm>
*@    </div>
</div>

@code {
    public Appointment appointment = new();



}
