<h3>GetAllergy</h3>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.IngestionOnly" />@*Ingestion only?*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="Allergy.AlgyName" />@*AlgyName*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.ConfirmedTestedAlgyType" />@*ConfirmedTestedAlgyType*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="Allergy.BriefDescriptionOfReactions" />@*BriefDescriptionOfReactions*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.IslifeThreatening" />@*IsLifeThreatening*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="Allergy.SymptomsLeadingToLifeThreatening" />@*SymptomsLeadingToLifeThreatening*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.EpiPenRequired" />@*EpiPenRequired*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.CPRRequired" />@*CPRRequired*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.Call911" />@*Call911*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.TreatmentRequired" />@*TreatmentRequired*@
</div>
<div>
  @*  <GetMedicine @bind-Medicine="AlgyMed" />
    <button @onclick="AddMeds">Add</button>*@ @*trying to have a list of allergy medicine, then everytime you press the submit button it adds the input of medicine to the list*@
    @*AlgyTreatmentMedication. A list*@


</div>

@code {
    [Parameter]
    public Allergy Allergy { get; set; } = new();
    [Parameter]
    public EventCallback<Allergy> AllergyChanged { get; set; }

    //public Medicine AlgyMed = new();

    //private List<Medicine> _algyMeds = new();

    //public List<Medicine> AlgyMedicines
    //{
    //    get => _algyMeds;
    //    set => _algyMeds = value;
    //}

    //private void AddMeds()
    //{
    //    //AlgyMedicines.Add(new Medicine {});
    //    //AlgyMed = new();

    //}
}
