<h3>GetDailyMedicines</h3>

<GetMedicine @bind-Medicine="DailyDrug.Medicine" />
<br />
<br />
<br />

<div style="margin: 5px">
    <input type="text" @bind="DailyDrug.DoseMg" placeholder="Dose Amount" /> @*Change dose amount*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="DailyDrug.FrequencyOfDose" placeholder="How often/when to take drug" />
</div>
<div style="margin: 5px">
    <input type="time" @bind="TimeProxy" />
</div>
<div style="margin: 5px">
    <button @onclick="ConfirmTimeSpan">Bind TimeSpan</button>
</div>

The Daily Medicine: @DailyDrug

@code {
    [Parameter]
    public DailyMedicine DailyDrug { get; set; } = new();

    [Parameter]
    public EventCallback<DailyMedicine> DayToDayMedicineChanged { get; set; }

    public TimeSpan LocalTime = TimeSpan.FromHours(0);

    public DateTime TimeProxy
    {
        get => DateTime.Now.Date + LocalTime;
        set => LocalTime = value.TimeOfDay;

        //{
        //    //TimeSpan.TryParse(value, out DayToDayMedicine.TimeSpanOfDose);
        //    //DayToDayMedicine.Time.TryParse(value, out DayToDayMedicine.TimeSpanOfDose );
        //    TimeSpan.TryParse(value, out LocalTime);
        //    DayToDayMedicine.TimeSpanOfDose = LocalTime;

        //}
    }

    private void ConfirmTimeSpan()
    {
        //DayToDayMedicine.TimeSpanOfDose = LocalTime;
        DailyDrug.TimeSpanOfDose = LocalTime;
        DayToDayMedicineChanged.InvokeAsync(DailyDrug);

    }
}
