<h3>GetDailyMedicines</h3>

<div style="margin: 5px">
    <GetMedicine @bind-Medicine="DayToDayMedicine.Medicine" />
</div>
<div style="margin: 5px">
    <input type="text" @bind="DayToDayMedicine.DoseMg" placeholder="Dose Amount" /> @*Change dose amount*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="DayToDayMedicine.FrequencyOfDose" placeholder="How often/when to take drug" />
</div>
<div style="margin: 5px">
    @*<input type="time" @bind:format:"hh:mm" AmPm="false" />*@
</div>

@code {
    [Parameter]
    public DailyMedicine DayToDayMedicine { get; set; } = new();

    [Parameter]
    public EventCallback<DailyMedicine> DayToDayMedicineChanged { get; set; }

    //public string times;

    //public TimeSpan time = TimeSpan.Parse(times);

}
