<h3>GetDailyMedicines</h3>

<div style="margin: 5px">
    <GetMedicine @bind-Medicine="DayToDayMedicine.Medicine" />
</div>
<div style="margin: 5px">
    <input type="text" @bind="DayToDayMedicine.DoseMg" placeholder="Dose Amount" /> @*Change dose amount*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="DayToDayMedicine.FrequencyOfDose" placeholder="How often/when to take drug" />
</div>
<div style="margin: 5px">
     @*<input type="text" @bind="times" />*@
</div>

@*<input type="time" min="@DayToDayMedicine.Min" max="@DayToDayMedicine.Max" bind="@TimeProxy" />*@


@code {
    [Parameter]
    public DailyMedicine DayToDayMedicine { get; set; } = new();

    [Parameter]
    public EventCallback<DailyMedicine> DayToDayMedicineChanged { get; set; }

    //string TimeProxy { get => DayToDayMedicine.Time.ToString(); set => TimeSpan.Parse(value); }

}
