<h3>AutoComplete</h3>

<input type="text" @oninput="(e => OnInput(e))" />

@foreach (var item in autoCompleteSuggestions)//displays a list, keeps adding to that list without earsing the old list. Bind the item/button to something.
{
    <li>
        @item
    </li>
}




@code {

    List<string> clonedWordList = new();
    List<string> autoCompleteSuggestions = new();

    private void OnInput(ChangeEventArgs args)
    {
        var inputText = args.Value as string;
        filteredListGenerator(Data.wordList, inputText);
    }

    public void filteredListGenerator(List<string> wordList, string input)
    {
        autoCompleteSuggestions.Clear();
        List<string> list = new();
        list = wordList.Where(x => x.ToLower().StartsWith(input.ToLower())).Take(8).ToList();

        foreach (var item in list)
        {
            autoCompleteSuggestions.Add(item);
        }
    }
}
