<h3>ClippyDiagnosisHelper</h3>

@code
{
    /* Things to do for Clippy
     Change excel data into CSV files. Especially the bigger file with users.

     Read all the data from CSV files then modify/organize that data (maybe into a datatable) and move it into a new CSV file.
                when modifying the data in the new DataTable, use things such as filtering, sorting, grouping, and aggregating?
                In the big dataset, i have to filter through it and add/relate any symptom and condition based on date.

     Make a simple Component that allows users to enter Symptoms and receive list of possible diagnoses.
     Then add remedy/precautions/suggestions.
     Then add common symptoms related to age, sex, region, or same medical history suggestions.


    */
}