<h3>GetAllergy</h3>
<div style="margin: 5px">
    Name of the Allergy
    <br />
    <input type="text" @bind="Allergy.AlgyName" placeholder="Allergy Name" />@*AlgyName*@
</div>
<div style="margin: 5px">
    <p style="font-size:small">Description of Allergy Reactions:</p>
    <input type="text" @bind="Allergy.CommonReactions" placeholder="List all of the Allergy Reactions" />@*BriefDescriptionOfReactions, make this into a little list with a submit button as well. Look into validation*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.IslifeThreatening" /> Life Threatening @*IsLifeThreatening*@
</div>


@*If IsLifeThreatening, it will show text boxes to input symptom and and that symptom description with a submit button binded to a method.
    The method will check for duplicates then submit those text inputs into a list of SymptomsLeadingToLifeThreatening.
    Then add/update that list into the current patient's Allergy.SymptomsLeadingToLifeThreatening.
*@
@if (Allergy.IslifeThreatening)
{
    <p style="font-size:small">Add Symptoms leading to life threatening:</p>
    <div style="margin: 5px">
        <input type="text" @bind="Symptom.SymptomName" placeholder="Symptom Name" />@*SymptomsLeadingToLifeThreatening*@
    </div>
    <div style="margin: 5px">
        <input type="text" @bind="Symptom.SymptomDescription" placeholder="Symptom Description" />
    </div>
    <button type="submit" @onclick="AddSymptom">Add Symptom</button>
    <br />

    @foreach (Symptom item in Symptoms) @*this is temporary, to see list behavior*@
    {
        <li>
            @item
        </li>
    }
}
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.IngestionOnly" />@*Ingestion only?*@
    Ingestion Only
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.ConfirmedTestedAlgyType"> Allergy Tested @*ConfirmedTestedAlgyType*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.EpiPenRequired" /> EpiPen Required @*EpiPenRequired*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.CPRRequired" /> CPR Required @*CPRRequired*@
</div>
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.Call911" /> Call 911 @*Call911*@
</div>


@*IF medicine is required pop-up GetMedicine with the List in case of multiple medicines*@
<div style="margin: 5px">
    <input type="checkbox" @bind="Allergy.TreatmentRequired" /> Medicine Required  @*TreatmentRequired*@
</div>
@*If TreatmentRequired, it will show GetMedicine Component along with a submit button binded to a method.
    The method will check for duplicates through the medicine names then submit the input into a list of Medicine (AlgyTreatmentMedication) used for or against the Allergy.
    Then add/update that list into the current patient's Allergy.AlgyTreatmentMedication.
*@
@if (Allergy.TreatmentRequired)
{
    <GetMedicine @bind-Medicine="AlgyMed" />
    <br />
    <button type="submit" @onclick="AddMed">Add</button>
    @foreach (Medicine item in AlgyMedicines) @*this is temporary, to see list behavior*@
    {
        <li>@item</li>
    }
}
<br />
<br />

<button type="submit" @onclick="OnSubmitAllergy">Submit Allergy</button>

@foreach (Allergy item in Data.CurrentPatient.Allergies)
{
    <li>@item</li>
}

@code {
    [Parameter]
    public Allergy Allergy { get; set; } = new();
    [Parameter]
    public EventCallback<Allergy> AllergyChanged { get; set; }

    public Medicine AlgyMed = new();
    //private List<Medicine> _algyMeds = new();
    public List<Medicine> AlgyMedicines //Add this to Allergy object and then to service with the submit button.
    {
        get => Allergy.AlgyTreatmentMedication;
        set => Allergy.AlgyTreatmentMedication = value;
    }

    [Parameter]
    public Symptom Symptom { get; set; } = new();
    [Parameter]
    public EventCallback<Symptom> SymptomChanged { get; set; }
    //private List<Symptom> _symptoms {  get; set; } = new();
    public List<Symptom> Symptoms //Add this to Allergy object with a submit button
    {
        get => Allergy.SymptomsLeadingToLifeThreatening;
        set => Allergy.SymptomsLeadingToLifeThreatening = value;
    }

    //add a button method, adding each of the inputs onto a list (kinda like AddMeds()),
    // then bind it to Allergy.SymptomsLeadingToLifeThreatening and service here
    //add an editForm with a submit button and validation error messages in the class' properties

    /// <summary>
    /// Prevents duplicate answers from being added onto a Symptoms list
    /// by comparing SymptomName and SymptomDescription from two objects (ignoring the case).
    /// If it passes it gets added onto Symptoms.
    /// </summary>
    public void AddSymptom()
    {
        Symptom copySymptom = new(Symptom);

        bool duplicate = false;

        foreach (Symptom item in Symptoms)
        {

            duplicate = string.Equals(copySymptom.SymptomName, item.SymptomName, StringComparison.OrdinalIgnoreCase);
            if (duplicate)
            {
                //pop up a message telling the user that theres already the same value saved
                break;
            }
            duplicate = string.Equals(copySymptom.SymptomDescription, item.SymptomDescription, StringComparison.OrdinalIgnoreCase);
            if (duplicate)
            {
                //pop up a message telling the user that theres already the same value saved
                break;
            }
        }

        if (!duplicate && !string.IsNullOrEmpty(copySymptom.SymptomDescription))
        {
            Symptoms.Add(copySymptom);
            Symptom = new();
        }
    }
    /// <summary>
    /// Makes sure and prevents duplicate answers from being added onto a medicine list
    /// by comparing both BrandName and GenericName from two objects (ignoring the Case).
    /// If it passes it gets added onto AlgyMedicines.
    /// </summary>
    public void AddMed()
    {
        Medicine copyMed = new(AlgyMed);

        bool duplicate = false;

        foreach (Medicine item in AlgyMedicines)
        {
            //duplicate = string.Equals(copyMed.BrandName, item.BrandName, StringComparison.OrdinalIgnoreCase);
            //if (duplicate)
            //{
            //    //pop up a message telling the user that theres already the same value saved
            //    break;
            //}
            //duplicate = string.Equals(copyMed.GenericName, item.GenericName, StringComparison.OrdinalIgnoreCase);
            //if (duplicate)
            //{
            //    //pop up a message telling the user that theres already the same value saved
            //    break;
            //}

        }

        if (!duplicate && !String.IsNullOrEmpty(copyMed.BrandName)) //TODO: delete
        {
            AlgyMedicines.Add(copyMed);
            AlgyMed = new();
        }
    }

    @*add a submit button at the end to add this Allergy into the List<Allergy> within Patient under a service*@

    /// <summary>
    /// Adds Allergy variable into the list<allergy> of the CurrentPatient from the DataService.
    /// Checks for any duplicates in the list<allergy> of the dataservice by comparing allergy names.
    /// Ignores case.
    /// </summary>
    public void OnSubmitAllergy()
    {
        Allergy CopyAllergy = new(Allergy);

        //check for duplicate allergies first.

        bool duplicate = false;

        foreach (Allergy item in Data.CurrentPatient.Allergies)
        {
            duplicate = string.Equals(CopyAllergy.AlgyName, item.AlgyName, StringComparison.OrdinalIgnoreCase);
            if (duplicate)
            {
                break;
            }
        }

        if (!duplicate && !string.IsNullOrEmpty(CopyAllergy.AlgyName))
        {
            Data.CurrentPatient.Allergies.Add(CopyAllergy);

            Allergy = new();
        }

    }

    ///// <summary>
    ///// Takes in a list, a string item(X) in the list used as a base, and a string item(Y) used to compare to.
    ///// Loops through the list and compares item(X) from the list to item(Y), if X is equal to Y the method returns true.
    ///// Ignores the case of both string items.
    ///// </summary>
    ///// <typeparam name="T">Type of the list.</typeparam>
    ///// <param name="ListToCheck">list to check and loop through.</param>
    ///// <param name="BaseItemFromList">Item from the list used as base.</param>
    ///// <param name="ItemToCompare">Item from the list used to compare the base to.</param>
    ///// <returns></returns>
    //public static bool CheckForDuplicates<T>(List<T> ListToCheck, string BaseItemFromList, string ItemToCompare)
    //{
    //    bool duplicate = false;

    //    foreach (T item in ListToCheck)
    //    {
    //        duplicate = string.Equals(ItemToCompare, BaseItemFromList, StringComparison.OrdinalIgnoreCase);
    //        if (duplicate)
    //        {
    //            break;
    //        }
    //    }
    //    return duplicate;
    //}
}