<h3>GetContactInfo</h3>

<div style="margin: 5px">
    <input type="text" @bind="Contact.TitleOrRelationship" placeholder="Title or relationship" />
</div>
<div>
    <GetName @bind-NamesValue="Contact.Name" />
</div>
<div style="margin: 5px">
    <input type="text" @bind="Contact.MobilePhoneNum" placeholder="Mobile Number" />
</div>
<div style="margin: 5px">
    <input type="text" @bind="Contact.HomePhoneNum" placeholder="Home number" />

</div>
<div style="margin: 5px">
    <input type="text" @bind="Contact.WorkPhoneNum" placeholder="Work number" />

</div>
<div style="margin: 5px">
    <input type="text" @bind="Contact.WorkPhoneNum" placeholder="Work number" />

</div>
<div style="margin: 5px">
    <input type="email" @bind="Contact.Email" placeholder="Email" />
</div>
<div>
    <GetAddress @bind-AddressValue="Contact.Address" />
</div>




@code {
    [Parameter]
    public ContactInfo Contact { get; set; } = new();
    [Parameter]
    public EventCallback<ContactInfo> ContactChanged { get; set; }
}
