<h3>GetDailyMedicines</h3>

<GetMedicine @bind-Medicine="DailyMed.Medicine" />
<br />

<div style="margin: 5px">
    <input type="text" @bind="DailyMed.DoseMg" placeholder="Dose Amount" /> @*Change dose amount*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="DailyMed.FrequencyOfDose" placeholder="How often/when to take drug" />
</div>
<div style="margin: 5px">
    <input type="time" @bind="TimeProxy" />
</div>
<div style="margin: 5px">
    <button @onclick="ConfirmTimeSpan">Bind TimeSpan</button>
</div>
<button @onclick="ButtonToAddDailyMedication">Add Medication</button>
<br />

@foreach (DailyMedicine item in Data.CurrentPatient.DailyMedication) //Temp
{
    <li>@item</li>
}
@code {
    [Parameter]
    public DailyMedicine DailyMed { get; set; } = new();

    [Parameter]
    public EventCallback<DailyMedicine> DailyMedChanged { get; set; }

    public TimeSpan LocalTime = TimeSpan.FromHours(0);

    public DateTime TimeProxy
    {
        get => DateTime.Now.Date + LocalTime;
        set => LocalTime = value.TimeOfDay;
    }
    /// <summary>
    /// Confirms and adds the input time onto the current DailyMedicine variable.
    /// </summary>
    private void ConfirmTimeSpan()
    {
        //DayToDayMedicine.TimeSpanOfDose = LocalTime;
        DailyMed.TimeSpanOfDose = LocalTime;
        DailyMedChanged.InvokeAsync(DailyMed);
    }

   
    /// <summary>
    /// Checks for duplicates
    /// Adds all the inputs of the DailyMedicine Variable into the list CurrentPatient.DailyMedication
    /// from the DataService. Earses DailyMedicine variable to start over.
    /// </summary>
    public void ButtonToAddDailyMedication()
    {
        if (Data.AddDailyMedication(Data.CurrentPatient.DailyMedication, DailyMed))
        {
            DailyMed = new();
        }
    }
}
