
<h3>GetGeneralInfo</h3>

<div style="margin: 5px">
    <GetName @bind-NamesValue="GeneralInfo.Name" />
</div>
<div style="margin: 5px">
    Date of Birth:
    <input type="date" @bind="GeneralInfo.DateOfBirth" /> @*Birthday*@
</div>
<div style="margin: 5px">
    Weight:
    <input type="number" @bind="GeneralInfo.Weight" placeholder="Weight" /> @*Weight*@
</div>
<div style="margin: 5px">
    Height:
    <input type="number" @bind="GeneralInfo.Height" placeholder="Height" /> @*Height*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="GeneralInfo.Languages" placeholder="Languages" />@*languages*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="GeneralInfo.Ethnicity" placeholder="Ethnicity" />@*Ethnicity*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="GeneralInfo.Race" placeholder="Race" />@*race*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="GeneralInfo.Gender" placeholder="Gender" />@*gender*@
</div>
<div style="margin: 5px">
    <input type="text" @bind="GeneralInfo.SexAtBirth" placeholder="Sex at Birth" />@*SexAtBirth*@
</div>

<button @onclick="SaveGeneralInfo">Submit General Info</button>


    General Info: @GeneralInfo.


@code {
    [Parameter]
    public GeneralInfo GeneralInfo { get; set; } = new();

    [Parameter]
    public EventCallback<GeneralInfo> GeneralInfoChanged { get; set; }


    /// <summary>
    /// Prevents duplicate patients from being added into the Patients list
    /// by comparing, GeneralInfo.Name.FirstName and GeneralInfo.Name.LastName, to the existing patients (ignoring the case).
    /// If it passes it gets allowed to be saved.
    /// </summary>
    public void SaveGeneralInfo()
    {
        GeneralInfo copyGeneralInfo = new(GeneralInfo);

        bool duplicate = false;

        foreach (Patient patient in Data.Patients)
        {
            if (patient.GeneralInfo == copyGeneralInfo)
            {
                duplicate = true; //pop up a message telling the user that theres already the same value saved
                break;
            }
        }

        if (!duplicate && !string.IsNullOrEmpty(GeneralInfo.Name.FirstName))
        {

            Data.CurrentPatient.GeneralInfo = copyGeneralInfo;
            GeneralInfo = new();
        }
    }
}
