<div style="border:solid 3px purple">

    <h3>GetGeneralInfo</h3>

    <div style="margin: 5px">
        <GetName @bind-NamesValue="GeneralInfo.Name" />
    </div>
    <div style="margin: 5px">
        Date of Birth:
        <input type="date" @bind="GeneralInfo.DateOfBirth" /> @*Birthday*@
    </div>
    <div style="margin: 5px">
        Weight:
        <input type="number" @bind="GeneralInfo.Weight" placeholder="Weight" /> @*Weight*@
    </div>
    <div style="margin: 5px">
        Height:
        <input type="number" @bind="GeneralInfo.Height" placeholder="Height" /> @*Height*@
    </div>
    <div style="margin: 5px">
        <input type="text" @bind="GeneralInfo.Languages" placeholder="Languages" />@*languages*@
    </div>
    <div style="margin: 5px">
        <input type="text" @bind="GeneralInfo.Ethnicity" placeholder="Ethnicity" />@*Ethnicity*@
    </div>
    <div style="margin: 5px">
        <input type="text" @bind="GeneralInfo.Race" placeholder="Race" />@*race*@
    </div>
    <div style="margin: 5px">
        <input type="text" @bind="GeneralInfo.Gender" placeholder="Gender" />@*gender*@
    </div>
    <div style="margin: 5px">
        <input type="text" @bind="GeneralInfo.SexAtBirth" placeholder="Sex at Birth" />@*SexAtBirth*@
    </div>
    @*<div style="margin: 5px">
    <GetContactInfo @bind-Contact="GeneralInfo.ContactInfo" />
    </div>*@
    <button @onclick="SaveButtonForGeneralInfo">Submit General Info</button>


    General Info: @GeneralInfo.

</div>

@code {
    [Parameter]
    public GeneralInfo GeneralInfo { get; set; } = new();

    [Parameter]
    public EventCallback<GeneralInfo> GeneralInfoChanged { get; set; }

    /// <summary>
    /// This calls on SaveGeneralInfo method from the Dataservice.
    /// If it's successful it'll clear the fields in GeneralInfo.
    /// </summary>
    public void SaveButtonForGeneralInfo()
    {
        bool success = Data.SaveGeneralInfo(GeneralInfo);
        if (success)
        {
            GeneralInfo = new();
        }
    }
}
